/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
Page {
    background-color: white;
    font-size: 17;
}
.mat-btn-primary{
    background-color: #3f51b5;
    color: #fff;
}
.mat-btn-accent{
    background-color: #ff4081;
    color: #fff;
}
.mat-btn-warn{
    background-color: #f44336;
    color: #fff;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 5;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5;
}
Button {
    margin: 10;
    padding: 10;
}