<ActionBar android:title="{{loggedInUser.lastname}}">
    <ActionItem ios.position="left"
                android.position="actionbar"
                [nsRouterLink]="['/user/summary']">
        <Button text="Summary" class="mat-btn-primary m-2"></Button>
    </ActionItem>
    <ActionItem ios.position="left"
                android.position="actionbar"
                [nsRouterLink]="['/user/transaction']">
        <Button text="New Bet" class="mat-btn-accent m-2"></Button>
    </ActionItem>
    <ActionItem text="Profile"
                ios.position="right"
                android.position="popup"
                [nsRouterLink]="['/user/profile']">
    </ActionItem>
    <ActionItem text="Logout"
                ios.position="right"
                android.position="popup"
                (tap)="logout()">
    </ActionItem>
</ActionBar>
<flexboxlayout flexDirection="column">
    <router-outlet></router-outlet>
</flexboxlayout>
