<Label text="New Bet" class="h2 text-center"></Label>
<FlexboxLayout flexWrap="wrap" height="300" width="300" backgroundColor="lightgray">

    <div>
        <StackLayout width="100" class="input-field">
            <Label class="h3" text="DATE"></Label>
            <TextField hint="Enter text" autocorrect="false" (textChange)="onTextChange($event)" (returnPress)="onReturn($event)" class="input input-border"></TextField>
        </StackLayout>
    </div>

    <div>
        <StackLayout width="100" class="input-field">
            <Label class="h3" text="DATE"></Label>
            <TextField #secondTx hint="Enter some text and click the button" autocorrect="false" returnKeyType="done" (returnPress)="submit(secondTx.text)"
                       class="input input-border"></TextField>
        </StackLayout>

    </div>
</FlexboxLayout>
<Button text="Get the second input" (tap)="showAlert(secondTx.text)" class="btn btn-primary btn-active"></Button>