<FlexboxLayout class="page">
    <StackLayout class="form" [formGroup]="userForm">
        <StackLayout class="input-field">
            <TextField hint="Username" autocorrect="false" autocapitalizationType="none" formControlName="username"></TextField>
        </StackLayout>

        <StackLayout class="input-field">
            <TextField hint="Password" secure="true" formControlName="password"></TextField>
        </StackLayout>

        <Button text="Sign in" (tap)="submitForm()" class="btn mat-btn-warn"></Button>
        <div *ngIf="status.error">
            <Label class="text-center" text="{{status.message}}"></Label>
        </div>
    </StackLayout>
</FlexboxLayout>